.timeslider-outer {
  width: 100vh;
  align-content: center;
}

.timeslider-parent {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

#timeslider {
  width: 95%;
  position:inherit;
  visibility: visible;
  background-color: transparent;
}

/* #range {
  width: 100%;
} */

#starttime {
  text-align: right;
  white-space: nowrap;
  padding-right: 10px;
}

#endtime {
  text-align: right;
  white-space: nowrap;
  padding-left: 10px;
}

@media screen and (max-width: 600px) {
  #starttime {
    display: none;
  }

  #endtime {
    display: none;
  }

}

#buble{
  position:relative;
  align-items: center;
  text-align: center;
}

/* From w3school */

.slider {
  -webkit-appearance: none;
  --ticksThickness: 5px;
  --ticksHeight: 30%;
  --ticksColor: black;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

/* RK additions start here  */
.buttonContainer{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.sliderButton {
  border-radius: 100;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 22px;
}

.mobileDisplay{
  display: none;
}

@media screen and (max-width: 600px) {
  .buttonContainer {
    display: none;
  }
  #timeslider {
    display: none;
  }

  .mobileDisplay {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 18%;
  }

  .sliderButton {
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #buble {
    font-size: 14px;
  }

  .mobileButtons {
    display: flex;
    flex-direction: row;
  }
  
}